<ion-header>
  <ion-toolbar>
    <ion-title>Editar Objeto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"> Cerrar </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="gueo-flex--edit-object">
        <ion-img [src]="item.src" (click)="editImage()"></ion-img>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Objeto a editar</ion-label>
            <ion-input
              (change)="onEditText($event)"
              formControlName="text"
              type="text"
              placeholder="Escriba aquí..."
              [value]="item.text"
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-button color="secondary" expand="block" (click)="recordSound()">
          <ion-icon slot="start" name="volume-high-outline"></ion-icon>
          Sonido
        </ion-button>
      </div>
    </form>
  </ion-toolbar>
</ion-content>

<ion-footer (click)="save()">
  <ion-toolbar color="tertiary">
    <ion-title>Guardar</ion-title>
  </ion-toolbar>
</ion-footer>
