/* Menu View */

.gueo-flex {
  display: flex;
  flex-wrap: wrap;
}

.gueo-flex--row {
  display: flex;
  align-items: center;
  flex: 1;
}

.gueo-flex--col {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
