<ion-item>
  <ion-label>{{ 'components.input_record_audio.title' | translate }}</ion-label>
</ion-item>

<div class="container-field">
  <!-- Track Info -->
  <div class="ion-text-center">
    @switch (status | async) {
      @case (statusAudioEnum.recording) {
        <ion-icon name="stopwatch"></ion-icon>
        {{ (recordTimer | async) / 10 | number: '1.1-1' }}s
      }
      @case (statusAudioEnum.stopped) {
        <ion-icon name="stopwatch"></ion-icon>
        {{
        (fileData$ | async)?.originalFile?.value?.msDuration / 1000
        | number: '1.1-1'
        }}s
      }
    }
  </div>

  <div class="row">
    @switch (status | async) {
      @case (statusAudioEnum.empty) {
        <ion-button
          color="light"
          [type]="'button'"
          (click)="startRecord($event)"
          >
          <ion-icon name="mic"></ion-icon>
          {{ 'components.input_record_audio.record' | translate }}
        </ion-button>
      }
      @case (statusAudioEnum.stopped) {
        <ion-button color="light" [type]="'button'" (click)="reproduceAudio()">
          <ion-icon name="play-circle"></ion-icon>
          {{ 'components.input_record_audio.play' | translate }}
        </ion-button>
        <ion-button color="light" [type]="'button'" (click)="removeAudio()">
          <ion-icon name="trash"></ion-icon>
          {{ 'components.input_record_audio.delete' | translate }}
        </ion-button>
      }
      @case (statusAudioEnum.recording) {
        <ion-button
          color="light"
          [type]="'button'"
          (click)="stopRecording($event)"
          >
          <ion-icon name="square"></ion-icon>
          {{ 'components.input_record_audio.stop' | translate }}
        </ion-button>
      }
      @case (statusAudioEnum.playing) {
        <ion-button color="light" [type]="'button'" (click)="reproduceAudio()">
          {{ 'components.input_record_audio.stop' | translate }}
        </ion-button>
      }
    }
  </div>
</div>
