<ion-item>
  <ion-label>{{ 'components.input_record_audio.title' | translate }}</ion-label>
</ion-item>

<div class="container-field">
  <div class="row">
    <!-- Track Info -->
    <ng-container [ngSwitch]="status | async">
      <ng-container *ngSwitchCase="statusAudioEnum.recording">
        {{ (recordTimer | async) / 10 | number: '1.1-1' }}s
      </ng-container>
      <ng-container *ngSwitchCase="statusAudioEnum.stopped">
        {{
          (fileData$ | async)?.originalFile?.value?.msDuration / 1000
            | number: '1.1-1'
        }}s
      </ng-container>
    </ng-container>

    <ng-container [ngSwitch]="status | async">
      <ng-container *ngSwitchCase="statusAudioEnum.empty">
        <button
          class="action"
          color="primary"
          [type]="'button'"
          (click)="startRecord($event)"
        >
          {{ 'components.input_record_audio.record' | translate }}
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="statusAudioEnum.stopped">
        <button
          class="action"
          color="primary"
          [type]="'button'"
          (click)="reproduceAudio()"
        >
          {{ 'components.input_record_audio.play' | translate }}
        </button>
        <button
          class="action"
          color="primary"
          [type]="'button'"
          (click)="removeAudio()"
        >
          {{ 'components.input_record_audio.delete' | translate }}
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="statusAudioEnum.recording">
        <button
          class="action"
          color="primary"
          [type]="'button'"
          (click)="stopRecording($event)"
        >
          {{ 'components.input_record_audio.stop' | translate }}
        </button>
      </ng-container>

      <ng-container *ngSwitchCase="statusAudioEnum.playing">
        <button
          class="action"
          color="primary"
          [type]="'button'"
          (click)="reproduceAudio()"
        >
          {{ 'components.input_record_audio.stop' | translate }}
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>
