/* Images */

.image-container {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.gueo-image {
  width: 100%;
  height: 120px;
}
