/* Modal */

.gueo-modal__action > ion-item {
  width: 100%;
  margin: 1rem auto;
  &::part(native) {
    background: none;
    text-align: center;
    font-size: 20px;
  }
}

// ion-item {
//   &.gueo-modal__type {
//     &::part(native) {
//       background-color: #262626;
//     }
//   }
// }

.container-field {
  margin: 0 auto;
  padding: 1rem;
  width: 65%;
  .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    /* Camera icon centerd hack */
    & + .row {
      position: absolute;
    }
    .action {
      font-size: 20px;
      background-color: rgba(255, 255, 255, 0.1) !important;
      background: none;
      display: flex;
      margin: auto;
      padding: 1rem;
      color: var(--color);
    }
  }
}

ion-list {
  background: none !important;
}
gueo-error-validation-wrapper {
  .hasErrors {
    .errors-list {
      padding: 0 10px;
      color: rgb(255, 0, 0);
    }
  }
}
