/* Gueopic Shell */

/* Shell */

.gueo-shell {
  height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Header */

.gueo-shell__header {
  padding: 5px;
  .verbs-list {
    display: flex;
    justify-content: center;
  }
  &--menu {
    padding: 0;
  }
}

/* Content */

.gueo-shell__content {
  height: calc(100% - 60px);
  &--menu {
    height: 100%;
    padding: 5px;
  }
}
