/* Gueopic Shell */

/* Shell */

.gueo-shell {
  height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Header */

.gueo-shell__header {
  padding: 0.2rem;
  &--menu {
    padding: 0;
  }
}

/* Content */

.gueo-shell__content {
  height: 100%;
  &--menu {
    //height: 100%;
    padding: 5px 5px 4rem;
    ion-item {
      &::part(native) {
        padding: 0;
      }
    }
    ion-item-divider {
      position: relative;
      padding: 0;
      //margin-bottom: 1rem;
      margin-top: 1rem;
      width: fit-content;
      left: 50%;
      transform: translateX(-50%);
      background: none;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

ion-footer {
  text-align: center;
}
