<ion-header>
  <ion-toolbar>
    <ion-title>{{
      ("edit_item." + (item?.id ? "edit_title" : "create_title")) | translate
    }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        {{ "common.actions.close" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <ion-list>
      <gueo-error-validation-wrapper [formControlName]="'text'">
        <ion-item>
          <ion-label position="stacked">{{
            "edit_item.text.label" | translate
          }}</ion-label>
          <ion-input
            name="text"
            [formControlName]="'text'"
            type="text"
            [placeholder]="'edit_item.text.placeholder' | translate"
            [class.invalid]="form.get('text').invalid"
          ></ion-input>
        </ion-item>
      </gueo-error-validation-wrapper>
    </ion-list>

    <gueo-error-validation-wrapper [formControlName]="'audio'">
      <gueo-input-record-audio
        [formControlName]="'audio'"
      ></gueo-input-record-audio>
    </gueo-error-validation-wrapper>

    <gueo-error-validation-wrapper [formControlName]="'image'">
      <gueo-input-camera [formControlName]="'image'"></gueo-input-camera>
    </gueo-error-validation-wrapper>
  </form>
</ion-content>
<ion-footer (click)="onSave()">
  <ion-toolbar color="tertiary">
    <ion-title>{{ "common.actions.save" | translate }}</ion-title>
  </ion-toolbar>
</ion-footer>
