<ion-header>
  <ion-toolbar>
    <ion-title>{{
      'edit_verb.' + (verb?.id ? 'edit_title' : 'create_title') | translate
    }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        {{ 'common.actions.close' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <ion-list>
      <gueo-error-validation-wrapper [formControlName]="'text'">
        <ion-item class="gueo-modal__type">
          <ion-label position="stacked">{{
            'edit_verb.text.label' | translate
          }}</ion-label>
          <ion-input
            #verbInput
            name="text"
            [formControlName]="'text'"
            type="text"
            [placeholder]="'edit_verb.text.placeholder' | translate"
            [class.invalid]="form.get('text').invalid"
          ></ion-input>
        </ion-item>
      </gueo-error-validation-wrapper>
      <ion-item>
        <ion-chip
          *ngFor="let verb of defaultVerbs; let i = index"
          [disabled]="verb.disabled"
          (click)="onSelectVerb(verb, i)"
        >
          <ion-label color="primary">{{ verb.text }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>

    <h1>Main Content</h1>

    <gueo-error-validation-wrapper [formControlName]="'audio'">
      <gueo-input-record-audio
        [formControlName]="'audio'"
        class="gueo-modal__action"
      ></gueo-input-record-audio>
    </gueo-error-validation-wrapper>
  </form>
</ion-content>
<ion-footer (click)="onSave()">
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'common.actions.save' | translate }}</ion-title>
  </ion-toolbar>
</ion-footer>
