:host {
  .verbs-list {
    max-height: 20vh;
    overflow: auto;
  }

  .image-container {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
  }
}
