<ion-header no-border>
  <div>
    <ion-button
      *ngFor="let verb of (verbsState.verbsWithFiles | async)"
      (click)="reproduceAudio(verb.audio)"
    >
      {{ verb.text }}
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <app-virtual-scroll
    [list]="itemsState.itemsWithFiles | async"
    (elementClicked)="reproduceAudio($event.audio)"
    [maxWidth]="125"
    [rowSizePx]="125"
  ></app-virtual-scroll>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [size]="'small'" [routerLink]="['/menu']">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="!isProduction"
  >
    <ion-fab-button [size]="'small'" [routerLink]="['/playground']">
      <ion-icon name="cube-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
