<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/menu']"> {{ 'common.menu' | translate }} </ion-button>
    </ion-buttons>
    <ion-title>GueoPic APP</ion-title>
    <ion-buttons slot="end" *ngIf="!isProduction">
      <ion-button [routerLink]="['/playground']"> Playground </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-virtual-scroll [list]="imgs"></app-virtual-scroll>
</ion-content>
