:host {
  $verbSize: 36px;

  .verbs-list {
    overflow: auto;
    &.max-lines-3 {
      max-height: $verbSize * 3;
    }
  }

  .image-container {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
  }
}
