# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For the full list of supported browsers by the Angular framework, please see:
# https://angular.io/guide/browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist


# we only care about browsers with full support for ES2015
Chrome >= 71     # let's keep it simple by picking just one desktop browser with full ES2015 support https://caniuse.com/#feat=es6
Android >= 56
ios_saf >= 11
safari >= 11
